.server-ip{
    position:relative;
    display:block; /* مهم */
    width:100%; /* تمشي مع الإطار */
    max-width:100%;
    
    font-size:2em; /* نقصناها شوية */
    font-weight:900;
    
    background:linear-gradient(135deg,#00d4ff,#0099ff);
    padding:20px; /* نقص padding */
    margin:30px 0;
    
    border-radius:25px;
    cursor:pointer;
    transition:all .4s cubic-bezier(.25,.46,.45,.94);
    
    border:3px solid transparent;
    background-clip:padding-box;
    
    box-shadow:0 15px 40px rgba(0,212,255,.4);
    
    overflow:hidden;
    text-align:center;

    word-break:break-word; /* يحل مشكلة الطول */
}
    .platforms{gap:15px}
    .platform{width:60px;height:60px;font-size:1.5em}
}
